%p Match: #{link_to @match_photo.match.name, @match_photo.match}

%img.img-responsive{:src => @match_photo.image.url}

- if can? :update, @match_photo
  = link_to 'Edit', edit_match_photo_path(@match_photo)
  \|
  
= link_to 'Back', match_photos_path
