
- if @current_tournaments.length > 0
  .current-tournaments
    %h1.page-header Current Tournaments

    - @current_tournaments.each do |tournament|
      = render :partial => "tournament", :locals => {tournament: tournament, show_teams: false}

- if @upcomming_tournaments.length > 0
  .upcomming-tournaments
    %h1.page-header Upcomming Tournaments

    - @upcomming_tournaments.each do |tournament|
      = render :partial => "tournament", :locals => {tournament: tournament, show_teams: false}

- if @past_tournaments.length > 0
  .past-tournaments
    %h1.page-header Old Tournaments

    - @past_tournaments.each do |tournament|
      = render :partial => "tournament", :locals => {tournament: tournament, show_teams: false}

%br
.links
  - if can? :create, Tournament
    = link_to 'New Tournament', new_tournament_path
