.navbar.navbar-pageheader.navbar-matchlistheader.nav-scrollspy
  .container
    .module
      .inner{"data-require" => "lang=en/worldcup/scrollspy"}
        
        .matchlist-header{"data-require" => "lang=en/worldcup/scrollspy"}
          %ul.nav.nav-pills{"data-require" => "lang=en/worldcup/matchlistheader"}
            %li.hidden
              %a{"data-ref" => "#matchesFakelink", :href => "#matchesFakelink", "model-ref" => "#matchesFakelink"}
                %span Matches
            %li{"data-tournamentdate" => "20140612", :title => "Thursday 12 June"}
              %a{"data-ref" => "#20140612", :href => "#20140612", "model-ref" => "#20140612"}
                %span.day-literal Thu
                %span.day 12
                .matchday-item
                  .match-dot-container.matches-1
                    %span.match-dot     

            %li{"data-tournamentdate" => "20140613", :title => "Friday 13 June"}
              %a{"data-ref" => "#20140613", :href => "#20140613", "model-ref" => "#20140613"}
                %span.day-literal Fri
                %span.day 13
                .matchday-item
                  .match-dot-container.matches-3
                    %span.match-dot
                    %span.match-dot
                    %span.match-dot             

            %li{"data-tournamentdate" => "20140614", :title => "Saturday 14 June"}
              %a{"data-ref" => "#20140614", :href => "#20140614", "model-ref" => "#20140614"}
                %span.day-literal Sat
                %span.day 14
                .matchday-item
                  .match-dot-container.matches-4
                    %span.match-dot
                    %span.match-dot
                    %span.match-dot                    
                    %span.match-dot             

            %li{"data-tournamentdate" => "20140615", :title => "Sunday 15 June"}
              %a{"data-ref" => "#20140615", :href => "#20140615", "model-ref" => "#20140615"}
                %span.day-literal Sun
                %span.day 15
                .matchday-item
                  .match-dot-container.matches-3
                    %span.match-dot
                    %span.match-dot                    
                    %span.match-dot             

            %li{"data-tournamentdate" => "20140616", :title => "Monday 16 June"}
              %a{"data-ref" => "#20140616", :href => "#20140616", "model-ref" => "#20140616"}
                %span.day-literal Mon
                %span.day 16
                .matchday-item
                  .match-dot-container.matches-3
                    %span.match-dot
                    %span.match-dot
                    %span.match-dot             

            %li{"data-tournamentdate" => "20140617", :title => "Tuesday 17 June"}
              %a{"data-ref" => "#20140617", :href => "#20140617", "model-ref" => "#20140617"}
                %span.day-literal Tue
                %span.day 17
                .matchday-item
                  .match-dot-container.matches-3
                    %span.match-dot
                    %span.match-dot
                    %span.match-dot            

            %li{"data-tournamentdate" => "20140618", :title => "Wednesday 18 June"}
              %a{"data-ref" => "#20140618", :href => "#20140618", "model-ref" => "#20140618"}
                %span.day-literal Wed
                %span.day 18
                .matchday-item
                  .match-dot-container.matches-3
                    %span.match-dot
                    %span.match-dot
                    %span.match-dot             

            %li{"data-tournamentdate" => "20140619", :title => "Thursday 19 June"}
              %a{"data-ref" => "#20140619", :href => "#20140619", "model-ref" => "#20140619"}
                %span.day-literal Thu
                %span.day 19
                .matchday-item
                  .match-dot-container.matches-3
                    %span.match-dot
                    %span.match-dot
                    %span.match-dot             

            %li{"data-tournamentdate" => "20140620", :title => "Friday 20 June"}
              %a{"data-ref" => "#20140620", :href => "#20140620", "model-ref" => "#20140620"}
                %span.day-literal Fri
                %span.day 20
                .matchday-item
                  .match-dot-container.matches-3
                    %span.match-dot                   
                    %span.match-dot                    
                    %span.match-dot             

            %li{"data-tournamentdate" => "20140621", :title => "Saturday 21 June"}
              %a{"data-ref" => "#20140621", :href => "#20140621", "model-ref" => "#20140621"}
                %span.day-literal Sat
                %span.day 21
                .matchday-item
                  .match-dot-container.matches-3
                    %span.match-dot
                    %span.match-dot
                    %span.match-dot             

            %li{"data-tournamentdate" => "20140622", :title => "Sunday 22 June"}
              %a{"data-ref" => "#20140622", :href => "#20140622", "model-ref" => "#20140622"}
                %span.day-literal Sun
                %span.day 22
                .matchday-item
                  .match-dot-container.matches-3
                    %span.match-dot
                    %span.match-dot
                    %span.match-dot             

            %li{"data-tournamentdate" => "20140623", :title => "Monday 23 June"}
              %a{"data-ref" => "#20140623", :href => "#20140623", "model-ref" => "#20140623"}
                %span.day-literal Mon
                %span.day 23
                .matchday-item
                  .match-dot-container.matches-4
                    %span.match-dot
                    %span.match-dot
                    %span.match-dot
                    %span.match-dot             

            %li{"data-tournamentdate" => "20140624", :title => "Tuesday 24 June"}
              %a{"data-ref" => "#20140624", :href => "#20140624", "model-ref" => "#20140624"}
                %span.day-literal Tue
                %span.day 24
                .matchday-item
                  .match-dot-container.matches-4
                    %span.match-dot
                    %span.match-dot
                    %span.match-dot
                    %span.match-dot             

            %li{"data-tournamentdate" => "20140625", :title => "Wednesday 25 June"}
              %a{"data-ref" => "#20140625", :href => "#20140625", "model-ref" => "#20140625"}
                %span.day-literal Wed
                %span.day 25
                .matchday-item
                  .match-dot-container.matches-4
                    %span.match-dot
                    %span.match-dot
                    %span.match-dot
                    %span.match-dot             

            %li{"data-tournamentdate" => "20140626", :title => "Thursday 26 June"}
              %a{"data-ref" => "#20140626", :href => "#20140626", "model-ref" => "#20140626"}
                %span.day-literal Thu
                %span.day 26
                .matchday-item
                  .match-dot-container.matches-4
                    %span.match-dot
                    %span.match-dot
                    %span.match-dot
                    %span.match-dot             

            %li.restday{"data-tournamentdate" => "20140627", :title => "Friday 27 June"}
              .restday-wrap
                %span.day-literal Fri
                %span.day 27
                .matchday-item.restday             

            %li{"data-tournamentdate" => "20140628", :title => "Saturday 28 June"}
              %a{"data-ref" => "#20140628", :href => "#20140628", "model-ref" => "#20140628"}
                %span.day-literal Sat
                %span.day 28
                .matchday-item
                  .match-dot-container.matches-2
                    %span.match-dot
                    %span.match-dot             

            %li{"data-tournamentdate" => "20140629", :title => "Sunday 29 June"}
              %a{"data-ref" => "#20140629", :href => "#20140629", "model-ref" => "#20140629"}
                %span.day-literal Sun
                %span.day 29
                .matchday-item
                  .match-dot-container.matches-2
                    %span.match-dot
                    %span.match-dot             

            %li{"data-tournamentdate" => "20140630", :title => "Monday 30 June"}
              %a{"data-ref" => "#20140630", :href => "#20140630", "model-ref" => "#20140630"}
                %span.day-literal Mon
                %span.day 30
                .matchday-item
                  .match-dot-container.matches-2
                    %span.match-dot
                    %span.match-dot           

            %li{"data-tournamentdate" => "20140701", :title => "Tuesday 01 July"}
              %a{"data-ref" => "#20140701", :href => "#20140701", "model-ref" => "#20140701"}
                %span.day-literal Tue
                %span.day 01
                .matchday-item
                  .match-dot-container.matches-2
                    %span.match-dot
                    %span.match-dot             

            %li.restday{"data-tournamentdate" => "20140702", :title => "Wednesday 02 July"}
              .restday-wrap
                %span.day-literal Wed
                %span.day 02
                .matchday-item.restday             

            %li.restday{"data-tournamentdate" => "20140703", :title => "Thursday 03 July"}
              .restday-wrap
                %span.day-literal Thu
                %span.day 03
                .matchday-item.restday            

            %li{"data-tournamentdate" => "20140704", :title => "Friday 04 July"}
              %a{"data-ref" => "#20140704", :href => "#20140704", "model-ref" => "#20140704"}
                %span.day-literal Fri
                %span.day 04
                .matchday-item
                  .match-dot-container.matches-2
                    %span.match-dot
                    %span.match-dot             

            %li{"data-tournamentdate" => "20140705", :title => "Saturday 05 July"}
              %a{"data-ref" => "#20140705", :href => "#20140705", "model-ref" => "#20140705"}
                %span.day-literal Sat
                %span.day 05
                .matchday-item
                  .match-dot-container.matches-2
                    %span.match-dot
                    %span.match-dot             

            %li.restday{"data-tournamentdate" => "20140706", :title => "Sunday 06 July"}
              .restday-wrap
                %span.day-literal Sun
                %span.day 06
                .matchday-item.restday             

            %li.restday{"data-tournamentdate" => "20140707", :title => "Monday 07 July"}
              .restday-wrap
                %span.day-literal Mon
                %span.day 07
                .matchday-item.restday             

            %li{"data-tournamentdate" => "20140708", :title => "Tuesday 08 July"}
              %a{"data-ref" => "#20140708", :href => "#20140708", "model-ref" => "#20140708"}
                %span.day-literal Tue
                %span.day 08
                .matchday-item
                  .match-dot-container.matches-1
                    %span.match-dot             

            %li{"data-tournamentdate" => "20140709", :title => "Wednesday 09 July"}
              %a{"data-ref" => "#20140709", :href => "#20140709", "model-ref" => "#20140709"}
                %span.day-literal Wed
                %span.day 09
                .matchday-item
                  .match-dot-container.matches-1
                    %span.match-dot            

            %li.restday{"data-tournamentdate" => "20140710", :title => "Thursday 10 July"}
              .restday-wrap
                %span.day-literal Thu
                %span.day 10
                .matchday-item.restday             

            %li.restday{"data-tournamentdate" => "20140711", :title => "Friday 11 July"}
              .restday-wrap
                %span.day-literal Fri
                %span.day 11
                .matchday-item.restday             

            %li{"data-tournamentdate" => "20140712", :title => "Saturday 12 July"}
              %a{"data-ref" => "#20140712", :href => "#20140712", "model-ref" => "#20140712"}
                %span.day-literal Sat
                %span.day 12
                .matchday-item
                  .match-dot-container.matches-1
                    %span.match-dot             

            %li{"data-tournamentdate" => "20140713", :title => "Sunday 13 July"}
              %a{"data-ref" => "#20140713", :href => "#20140713", "model-ref" => "#20140713"}
                %span.day-literal Sun
                %span.day 13
                .matchday-item
                  .match-dot-container.matches-1
                    %span.match-dot        
