.match
  .row
    .col-md-3
      = render :partial => "shared/slide", :locals => {:class_name => "match_photos medium", :images => match.match_photos.map { |e| e.image.url(:medium) }}

    .col-md-9
      %h2 #{link_to match.name, match}
      .short_description
        = raw match.short_description