.bet-scores-in-match
  %h1 All Bet Scores for this Match:
  %table.table.table-striped.table-bordered
    %tr
      %th Match
      %th Score
      %th Money
      %th Created At
      %th Action

    - @bet_scores = @match.bet_scores
    - @bet_scores.each do |bet_score|
      %tr
        %td #{bet_score.match.name}
        %td #{bet_score.score}
        %td #{number_to_currency(bet_score.money, {precision: 0, unit: "VND "})}
        %td #{(bet_score.created_at.localtime).strftime("%b %d, %Y - %H:%M")}
        %td.action
          - if can? :destroy, bet_score
            %a.delete{href: match_bet_score_path(bet_score.match, bet_score), :data => { :confirm => 'Are you sure to delete this score?', :method => :delete }}
              %i.fa.fa-trash-o
              Destroy
