%h1 Matches

- if @tournament
  = render :partial => "ex_matches"

- @matches_in_dates.keys.each do |date|
  = render :partial => "ex_matches_in_date", :locals => {:matches => @matches_in_dates[date], date: date}

%br

= link_to 'New Match', new_match_path
