%h1 Matches

= render :partial => "ex_matches"

- @matches_in_dates.each do |matches|
  = render :partial => "ex_matches_in_date", :locals => {:matches => matches}

%br

= link_to 'New Match', new_match_path
