.posts
  - if @posts.blank?
    %p.no-post
      = t("post.no_post")
  - else
    %ul.list-unstyled.list-inline.list-news
      - @posts.each do |post|
        %li
          %a{href: post_path(post)}
            %img.img-responsive{src: post.main_image.url(:medium)}
            %h4 #{post.title}
          %div.time 
            %span.fa.fa-calendar
              on
              #{post.created_at.strftime("%d %b, %Y")}
          
            %span.fa.fa-comment-o
              = pluralize(post.comments.count, "comment")