// Place all the styles related to the match_photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.match {
  .two-teams{
    margin-top: 20px;

    .teama .name, .teamb .name {
      font-weight: bold;
    }

    .vs {
      span {
        color: #666666;
      }

      span.block {
        display: block;
      }
    }
  }
}