.post-layout{
  .well.top-posts {
    ul.bs-sidenav li {
      overflow: auto;
      margin-bottom: 15px;

      img {
        float: left;
      }

      a {
        margin-left: 80px;
      }
    }


  }
}