// Place all the styles related to the team_photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list-tournament-team {
  li {
    width: 24%;
    text-align: left;
    margin-bottom: 20px;

    padding-left: 0;

    img {
      display: inline;
    }
  }

}

/** Show a team **/
.team {
  .row.players {
    table {
      width: 100%;

      tbody tr {
        border-top: 1px solid #ddd;
      }

      tbody td:first-child {
        width: 50px;
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
      }

      .sortcol {
        border-bottom: 1px;
        background: #F1F1EB;
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
      }
    }
  }
}