// Place all the styles related to the tournament_photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tournament {
  .img-header {
    height: 160px;
    background-image: image_url("header.en.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: 1400px 155px;
  }

  .row.teams {
    .col-sm-4{
      height: 310px;
      overflow: hidden;  
    }
  }
}